In [1]:
print("Twinkle,Twinkle,little star,\n\tHow i wonder what you are\n\t\tUp above the world so high.\n\t\tLike a diamond in the sky.\nTwinkle,twinkle,little star,\n\tHow i wonder what you are");

Twinkle,Twinkle,little star,
	How i wonder what you are
		Up above the world so high.
		Like a diamond in the sky.
Twinkle,twinkle,little star,
	How i wonder what you are

In [7]:
#Question No 2: get python version
import sys 
print("python version")
print(sys.version);

python version
3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [6]:
#Question No.3: Date&time
from datetime import datetime
today = datetime.today();
print("today's date: ",today);

today's date:  2021-10-26 20:21:35.640147

In [48]:
#Question No.4 Accept the  radius of a circle 
redius = int(input("Enter redius number: "));
area = 3.142*redius**2;
print("area of circle is :",area);

Enter redius number: 10
area of circle is : 314.2

In [1]:
#Question No.5 print first and last name in revers order
first_Name = input("Enter first name: ");
last_Name = input("Enter last name: ");
name = last_Name +" "+ first_Name;
print(name)

Enter first name: saeed
Enter last name: anwer
anwer saeed

In [3]:
#Question No.6 take input and print them addition
first_number = int(input("Enter your first number: "));
second_number = int(input("Enter your second number: "));
addition = first_number+second_number;
print("Answer: ",addition);

Enter your first number: 12
Enter your second number: 12
Answer:  24

In [46]:
#Question No.7 Marksheet
#
print("======= Marks sheet =========");
eng = int(input("Enter english subject marks:\t"));
math = int(input("Enter math subject marks:\t"));
islamiyat = int(input("Enter islamiyat subject marks:\t"));
bio = int(input("Enter biology subject marks:\t"));
chem = int(input("Enter chemistry subject marks:\t"));

obtain_marks = eng+math+islamiyat+bio+chem;
total_marks = 500;
percentage = obtain_marks * 100 / total_marks;
print("\npercetage is: ",percentage);

if percentage > 80 and percentage < 100:
    print("grade A+");
elif percentage > 70 and percentage < 80:
    print("grade A");
elif percentage > 60 and percentage < 70:
    print("grade B");
elif percentage > 50 and percentage < 60:
    print("grade C");
elif percentage > 40 and percentage < 50:
    print("grade D");
elif percentage > 0 and percentage < 40:
    print("Fail \ngrade F");
else:
    print("You entered incorrect marks check and try again:");

======= Marks sheet =========
Enter english subject marks:	20
Enter math subject marks:	20
Enter islamiyat subject marks:	20
Enter biology subject marks:	20
Enter chemistry subject marks:	20

percetage is:  20.0
Fail
grade F

In [3]:
#Question No.8 check given number even or odd 
number = int(input("Enter number: "));
if (number % 2) == 0: 
    print(number," is even number"); 
else:
    print(number," is odd number");

Enter number: 45
45  is odd number

In [15]:
#Question No.9 print length of the list
list = ['saeed','sahzain','sharjeel'];
print(len(list));

3

In [14]:
#Question No.10  Sum all the numeric items in a list

number = [1,2,3,4,5,1,5]
sum = 0
for i in number:
    sum +=i
print(sum)

21

In [64]:
#Question No.11 get a largest number from a numeric list
list = [1,11,3,7,100,990,101];
larg_number = 0;
for i in list:
    if(i > larg_number):
        larg_number =i
print(larg_number)

990

In [83]:
#Question No.12 
list = [1,1,2,3,5,8,13,21,34,55,89];
new_list = []
for i in list:
    if i < 5:
        new_list.append(i);
print(new_list);

[1, 1, 2, 3]